<div className="header_popup-formlaithu box-j box-p1  text-cw header-form_shh">
    <div className="row">
        <div className="c-12 topbot-mmg boxtext-v header_popup-heading">
            <span className="typo-p-1 text-cw">
                {" "}
                ĐĂNG KÝ NHẬN BÁO GIÁ XE VINFAST MỚI NHẤT
            </span>
        </div>
        <div className="camket col l-6 m-6 c-6">
            <ul className="typo-p-1 text-cw ">
                <p className="camket-heading"> Báo giá có:</p>
                <li className="">Báo Giá Giảm 10% Trực Tiếp vào Giá Bán</li>
                <li className="">
                    Miễn lãi suất trong 2 năm (Lãi suất về 0%){" "}
                </li>
                <li className="">Phương Án Trả Góp, Lãi Suất / Tháng</li>
                <p className="topbot-mmg">
                    *Ngay sau khi nhận được yêu cầu chúng tôi sẽ gửi Báo giá
                    Ưu đãi đến quý khách trong thời gian sớm nhất.
                </p>
            </ul>
        </div>
    </div>
</div>




<div className="col l-6 m-6 c-6">
    <form className="header-popup_form typo-p-1" action="">
        <p className="typo-p-1 text-cw">
            Báo giá xe ngày 23/09/2021
        </p>
        <select className="box-input1 c-12 topbot-smg" name="" id="">
            <option className="typo-p-1">-- Chọn loại xe</option>
            <option className="typo-p-1">Fadil</option>
            <option className="typo-p-1">LuxA 2.0</option>
            <option className="typo-p-1">LuxSA 2.0</option>
            <option className="typo-p-1">Ô tô điện Vf e34</option>
        </select>
        <input className="box-input1 c-12 input-mgb topbot-smg" type="text" placeholder="Họ và tên" name="name"
            required />
        <input className="box-input1 c-12" type="tel" placeholder="Số điện thoại" required name="phone"
            aria-required="true" pattern="[0-9()#&+*-=.]+" title="Chỉ các số và ký tự được chấp nhận (#, -, *)" />

        <div className="boxtext-h">
            <input className="header-popup_form-checkbox box-check1" type="checkbox" name="trgop" />
            <label htmlFor="trgop" className="text-cw">
                Tính trả góp
            </label>
        </div>
        <div className="boxtext-h">
            <input className="header-popup_form-checkbox box-check1 " type="checkbox" name="lbanh" />
            <label htmlFor="lbanh" className="text-cw">
                Tính lăn bánh
            </label>
            <br />
        </div>

        <textarea className="textarea-input box-input1 c-12" name="" id="" placeholder="Yêu cầu khác"></textarea>
        <br />
        <button className="box-input1 text-cw" type="submit">
            GỬI ĐĂNG KÝ
        </button>
    </form>
</div>